# Virtual Environment
venv/
env/
*.pyc
__pycache__/

# Model Weight
weights/*.pt
*.pt

# Videos
videos/*.mp4
videos/*.avi
videos/*.mov

# Output


# System Files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Temporary
*.tmp
*.bak